@import "_variables.scss";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
};

header{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  
}

.home-page{
  
}
 